#map {
  width: 100%;
  height: 37.5rem;
  filter: grayscale(100);
}

.location .social-2 svg {
  fill: #000;
}

.location .social-2 svg:hover {
  fill: #fff;
}

.social-2 svg:hover {
  fill: var(--black);
}

.location {
  background-color: var(--brown);
}

.bg {
  background-color: var(--black);
}

.address-location-block p {
  color: white;
  max-width: 33.75rem;
  font: 200 22px "Outfit", sans-serif;
  color: var(--white);
}

.address-location-block {
  display: flex;
  gap: 2.5rem;
  padding-block: 5.625rem;
  justify-content: space-between;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.logo path,
.logo-2 path {
  display: flex;
  padding: 1.875rem;
  width: 25rem;
  fill: var(--white);
  transition: all ease 0.3s;
}

.logo path:hover {
  fill: var(--brown);
  transition: all ease 0.3s;
}

.logo-2 path:hover {
  fill: var(--black);
  transition: all ease 0.3s;
}

.logo {
  object-fit: initial;
  width: 10rem;
  transform: scale(1);
}

@media screen and (max-width: 540px) {
  #map {
    width: 540px;
    height: 336px;
  }

  .address-location-block {
    width: 450px;
    height: 500px;
    overflow: hidden;
  }

  footer {
    margin: 0;
    width: 540px;
    height: 336px;
  }

  footer .container {
    margin-left: 15%;
  }

  footer .container img {
    width: 110px;
  }

  footer .container p {
    text-align: center;
  }
}
