.art-gallery_header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.art-gallery_black-background {
  background: black;
  width: 540px;
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.art-gallery_black-background p {
  position: absolute;
  height: 176px;
  left: 273px;
  right: 46.75%;
  top: calc(50% - 176px / 2 - 122px);
  font-family: "Big Shoulders Display", cursive;
  font-weight: 900;
  font-size: 100px;
  line-height: 88px;
  text-transform: uppercase;
  background: linear-gradient(to right, white 53%, black 47%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}

.art-gallery_header-hero-image {
  color: black;
  display: flex;
  width: 540px;
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.art-gallery_white-background {
  width: 200px;
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.art-gallery_white-background p {
  position: absolute;
  font-family: "Outfit";
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  height: 160px;
  left: 65%;
  right: 200px;
  top: calc(50% - 160px / 2 - 130px);
}

.art-gallery_header-button {
  font-family: "Big Shoulders Display";
  background: linear-gradient(to right, black 75%, #d5966c 25%);
  color: white;
  position: absolute;
  letter-spacing: 3.63636px;
  font-weight: 800;
  font-size: 20px;
  left: 65%;
  right: 11.45%;
  top: 51.75%;
  bottom: 39.25%;
  width: 250px;
  height: 72px;
  z-index: 1;
}

.art-gallery_header-button:hover {
  background: linear-gradient(to right, #d5966c 75%, black 25%);
  cursor: pointer;
}

@media (min-width: 550px) and (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 992px) {
}

@media (min-width: 920px) and (max-width: 1200px) {
}
