.art-gallery_gallery-container {
  position: absolute;
  width: 1110px;
  height: 1150px;
  left: 165px;
  top: -100px;
}

.art-gallery_gallery-images {
  position: absolute;
  width: 350px;
  height: 280px;
  left: 60px;
  top: 1040px;
}

.art-gallery_gallery-images h1 {
  position: absolute;
  height: 120px;
  right: 80px;
  top: calc(50% - 120px / 2 - 80px);
  font-family: "Big Shoulders Display", cursive;
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: black;
}

.art-gallery_gallery-images p {
  position: absolute;
  height: 128px;
  right: 80px;
  top: 170px;
  font-family: "Outfit";
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #444444;
}

.img1 {
  position: absolute;
  width: 635px;
  height: 400px;
  left: 480px;
}

.img2 {
  position: absolute;
  width: 635px;
  height: 720px;
  top: 420px;
}

.img3 {
  position: absolute;
  width: 445px;
  height: 313px;
  left: 670px;
  top: 420px;
}

.art-gallery_gallery-information {
  position: absolute;
  width: 445px;
  height: 377px;
  left: 670px;
  top: 760px;
  background: black;
}

.art-gallery_gallery-information h1 {
  position: absolute;
  height: 120px;
  top: 40px;
  right: 60px;
  left: 60px;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: white;
}

.art-gallery_gallery-information p {
  position: absolute;
  height: 96px;
  right: 60px;
  left: 60px;
  font-family: "Outfit";
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: white;
}

@media screen and (max-width: 768px) {
  .art-gallery_gallery-container {
    width: 664px;
    height: 1131px;
    left: 0%;
  }

  .art-gallery_gallery-images {
    height: 299px;
    left: 39px;
    top: 856px;
  }

  .art-gallery_gallery-images h1 {
    font-size: 50px;
    line-height: 60px;
  }

  .art-gallery_gallery-images p {
    font-size: 15px;
  }

  .img1 {
    width: 398px;
    height: 400px;
    left: 80%;
  }

  .img2 {
    width: 380px;
    height: 720px;
    top: 420px;
  }

  .img3 {
    width: 280px;
    height: 313px;
    left: 115%;
  }

  .art-gallery_gallery-information {
    width: 280px;
    height: 396px;
    left: 115%;
    top: 760px;
  }

  .art-gallery_gallery-information h1 {
    width: 223px;
    height: 90px;
    left: 15%;
    font-size: 50px;
    line-height: 60px;
  }

  .art-gallery_gallery-information p {
    font-size: 15px;
    left: 15%;
    top: 50%;
  }
}

@media screen and (max-width: 375px) {
  .art-gallery_gallery-container {
    width: 343px;
    height: 1605px;
  }

  .art-gallery_gallery-images {
    height: 299px;
    left: 39px;
    top: 1000px;
  }

  .art-gallery_gallery-images h1 {
    font-size: 50px;
    line-height: 45px;
    top: 35%;
    left: -15px;
  }

  .art-gallery_gallery-images p {
    font-size: 15px;
    line-height: 28px;
    margin-top: 95px;
    margin-left: -15px;
  }

  .img1 {
    width: 343px;
    height: 320px;
    left: -30px;
    top: -70%;
  }

  .img2 {
    width: 343px;
    height: 480px;
    top: 400px;
    left: -30px;
  }

  .img3 {
    width: 343px;
    height: 200px;
    left: -30px;
    top: 890px;
  }

  .art-gallery_gallery-information {
    width: 343px;
    height: 293px;
    left: -30px;
    top: 1100px;
  }

  .art-gallery_gallery-information h1 {
    width: 295px;
    height: 90px;
    left: 10%;
    top: 1%;
    font-size: 50px;
    line-height: 60px;
  }

  .art-gallery_gallery-information p {
    font-size: 16px;
    left: 15%;
    top: 25%;
  }
}
