.art-gallery_footer-container {
  position: absolute;
  width: 1440px;
  height: 244px;
  top: 2310px;
  background: black;
  display: flex;
  flex-direction: row;
}

.art-gallery_footer-information {
  display: flex;
  width: 1446.5px;
  height: 244px;
  color: white;
  margin: 70px 100px 0px 100px;
}

.art-gallery_footer-information h1 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
}

.art-gallery_footer-information p {
  height: 84px;
  font-family: "Outfit";
  font-weight: 300;
  font-size: 18px;
  margin-top: 13px;
  margin-left: 50px;
}

.art-gallery_footer-icons {
  display: flex;
  flex-direction: row;
  width: 20px;
  height: 20px;
  margin: 20px;
  gap: 20px;
}

.art-gallery_footer-icons:hover {
  cursor: pointer;
}

.facebook-icon:hover {
  filter: brightness(0) saturate(100%) invert(99%) sepia(4%) saturate(365%)
    hue-rotate(217deg) brightness(118%) contrast(100%);
}
.instagram-icon:hover {
  filter: brightness(0) saturate(100%) invert(99%) sepia(4%) saturate(365%)
    hue-rotate(217deg) brightness(118%) contrast(100%);
}
.twitter-icon:hover {
  filter: brightness(0) saturate(100%) invert(99%) sepia(4%) saturate(365%)
    hue-rotate(217deg) brightness(118%) contrast(100%);
}

@media screen and (max-width: 768px) {
  .art-gallery_footer-container {
    width: 768px;
    height: 216px;
    top: 225%;
  }

  .art-gallery_footer-information {
    width: 689px;
    height: 104px;
    color: white;
    gap: 20px;
  }

  .art-gallery_footer-information h1 {
    font-size: 20px;
    width: 110px;
    height: 40px;
    margin-left: -50px;
  }

  .art-gallery_footer-information p {
    font-size: 15px;
  }

  .art-gallery_footer-icons {
    width: 30px;
    height: 20px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 375px) {
  .art-gallery_footer-container {
    width: 375px;
    height: 336px;
    top: 290%;
    overflow-x: hidden;
  }

  .art-gallery_footer-information {
    width: 311px;
    height: 240px;
    color: white;
    gap: 20px;
  }

  .art-gallery_footer-information h1 {
    font-size: 20px;
    width: 110px;
    height: 40px;
    margin-top: -20px;
    margin-left: -50px;
  }

  .art-gallery_footer-information p {
    font-size: 15px;
    margin-top: 70px;
    margin-left: -130px;
    width: 311px;
    height: 104px;
  }

  .art-gallery_footer-icons {
    width: 30px;
    height: 20px;
    margin-top: 180px;
    margin-left: -330px;
  }
}
